<form id="container" [formGroup]="shipmentsForm">
    <app-title no="4" title="Métodos de Envio" subtitle="Como enviar seus pacotes"></app-title>
    <div class="shipment-container" *ngFor="let shipment of shipments; let j = index, let isLast = last">
        <h1>Shipment {{ j+1 }} of {{ shipments?.length}}</h1>
        <div class="row" *ngFor="let item of shipment.lineItems">
            <img class="image-xs" [src]="item.imageUrl" alt="product photo">
            <div id="shipment-details">
                <h4 id="item-name">{{item.name}}</h4>
                <p>{`{item.skuCode}}</p>
            </div>
            <div id="quantity-section">
                <p id="quantity-label">Quantidade: </p>{{item.quantity}}
            </div>
        </div>
        <mat-radio-group [formControlName]="shipment?.id || j">
            <mat-radio-button *ngFor="let method of shipment.availableShippingMethods" [value]="method.id">
                <div class="radio-button">

                </div>
            </mat-radio-button>
    </div>
</form>